@import '../../../assets/theme/color.less';

.network-list {
  height: 100%;
  display: flex;
  flex-direction: column;

  .@{app-prefix}-tabs {
    .@{app-prefix}-tabs-nav {
      margin-bottom: 8px;
      .@{app-prefix}-tabs-nav-wrap {
        width: 100%;
        .@{app-prefix}-tabs-nav-list {
          width: 100%;
          padding: 0 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .@{app-prefix}-tabs-tab {
            width: 70px !important;
            padding: 12px 0 14px;
            justify-content: center;

            .@{app-prefix}-tabs-tab-btn {
              color: @font-13 !important;
              height: 22px;
              line-height: 22px;
              font-size: 16px;
            }
            &.@{app-prefix}-tabs-tab-active {
              .@{app-prefix}-tabs-tab-btn {
                color: @font-11 !important;
              }
            }
          }

          .@{app-prefix}-tabs-tab + .@{app-prefix}-tabs-tab {
            margin: 0;
          }
        }
      }
    }
  }

  .chain-list {
    flex: 1;
    overflow: scroll;

    .@{app-prefix}-list {
      height: 100%;
      .@{app-prefix}-spin-nested-loading {
        height: 100%;
        .@{app-prefix}-spin-container {
          height: 100%;
          .@{app-prefix}-list-items {
            height: 100%;
            .network-unit {
              display: flex;
              padding: 12px 24px;
              border-bottom: none;
              align-items: flex-start;
              cursor: pointer;

              .network-unit-info {
                flex: 1;
                display: flex;
                align-items: flex-start;
                line-break: anywhere;

                .icon {
                  position: relative;

                  .current-chain {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    position: absolute;
                    top: -6px;
                    right: -8px;
                  }
                }

                .name {
                  font-size: 16px;
                  height: auto;
                  line-height: 22px;
                  color: @font-11;
                  margin-left: 16px;
                }
              }
              .action {
                display: flex;
                align-items: center;
                justify-content: center;
                .@{app-prefix}-btn {
                  padding: 2px 7px;
                  border-radius: 11px;
                  min-width: 48px;
                  height: 22px;

                  & > span {
                    display: block;
                    font-size: 12px;
                    line-height: 16px;
                  }
                }

                .custom-svg {
                  margin-right: 16px;
                }
              }
            }
          }
        }
      }
    }

    .empty-list {
      padding-top: 75px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .tip {
        margin-top: 16px;
        font-size: 14px;
        color: @font-12;
        line-height: 20px;
        height: 20px;
        font-weight: 400;
      }
    }
  }

  .network-action {
    padding: 16px;
    padding-top: 15px;
    border-top: 1px solid @border-2;

    .@{app-prefix}-btn {
      border-radius: 22px;
      padding: 12px 0;

      & > span {
        display: block;
        font-size: 16px;
        height: 22px;
        line-height: 22px;
      }
    }
  }
}
.add-network.delete-modal {
  .@{app-prefix}-modal-confirm-body {
    height: fit-content;
    padding: 24px 0 0;
    .@{app-prefix}-modal-confirm-content {
      height: fit-content;
      h3 {
        font-size: 18px;
        color: @font-10;
        margin-bottom: 16px;
      }
      .network-name {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        width: fit-content;
        padding: 8px 16px;
        max-width: 272px;
        min-height: 40px;
        border: 1px solid @border-1;
        background: @bg-13;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin: 0 auto 8px;
        .custom-svg {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          svg {
            width: 24px;
            height: 24px;
          }
        }
        p {
          display: flex;
          flex-wrap: wrap;
          line-break: anywhere;
          text-align: left;
        }
      }
      .chain-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px solid @border-2;
        padding: 24px;
        gap: 24px;
        font-weight: 400;
        p {
          display: flex;
          flex-direction: column;
          .label {
            font-size: 12px;
            color: @font-13;
            text-align: left;
          }
          .value {
            font-size: 14px;
            color: @font-11;
            text-align: left;
          }
        }
      }
    }
  }
}
