@import '../../assets/theme/color.less';
.nft-detail {
  .setting-header-wrapper {
    border: none;
    height: 64px;
    padding: 0 16px;
    .custom-svg {
      width: 14px;
      height: 14px;
    }
  }
  .picture {
    margin: 0 auto 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 200px;
    border-radius: 6px;
    background-color: @bg-15;
    font-size: 40px;
    color: @font-12;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      object-fit: cover;
  }
  }
  .info {
    padding: 0 30px;
    .title {
      line-height: 28px;
      font-size: 24px;
      color: @font-13;
      margin-bottom: 4px;
      .title-alias {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        width: 260px;
    }
    }
    .amount {
      line-height: 20px;
      font-size: 14px;
      color: @font-11;
      margin-bottom: 28px;
    }
    .label {
      line-height: 22px;
      font-size: 16px;
      font-weight: 500;
      color: @font-13;
      margin-bottom: 9px;
    }
    .information {
      line-height: 20px;
      font-size: 14px;
      color: @font-13;
    }
  }
  .btn-wrap {
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid @border-2;
    padding: 16px;
    button {
      height: 48px;
      border-radius: 22px;
      line-height: 22px;
      font-size: 16px;
    }
  }
}
