@import '../../../assets/theme/color.less';

.add-guardians-page {
  .add-guardians-title {
    padding-top: 16px;
    background-color: @bg-13;
    margin-bottom: 24px;
  }
  .@{app-prefix}-select-selection-placeholder {
    display: flex;
    align-items: center;
  }
  .input-item {
    margin: 0 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .label {
      line-height: 20px;
      color: @font-11;
      font-size: 14px;
    }
    .control {
      width: 100%;
      height: 48px;
      border-radius: 6px;
      background-color: @bg-13;
      border: 1px solid @border-1;
      display: flex;
      align-items: center;
      padding: 14px 16px;
      left: 40px;
      line-height: 20px;
      color: @font-11;
      font-size: 14px;
      .custom-svg,
      svg {
        width: 32px;
        height: 32px;
      }
    }
    .select {
      .@{app-prefix}-select-selector {
        border-radius: 6px;
        height: 48px;
        .@{app-prefix}-select-selection-item {
          display: flex;
          align-items: center;
          .custom-svg,
          svg {
            width: 32px;
            height: 32px;
          }
          .title {
            display: flex;
            align-items: center;
            margin-left: 12px;
            color: @font-11;
            font-size: 14px;
          }
        }
      }
    }
    .error {
      margin-top: -4px;
      line-height: 16px;
      color: @font-14;
      font-size: 12px;
    }
    .err-text{
      color: @font-14;
    }
  }
  .btn-wrap {
    border-top: 1px solid @border-1;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    .warning {
      border: 1px solid @border-7;
      color: @font-14;
    }
    button {
      flex: 1;
      height: 48px;
      border-radius: 24px;
    }
  }
}
.select-option {
  /* stylelint-disable-next-line no-descending-specificity */
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .title {
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-size: 14px;
  }
}
.verify-confirm-modal {
  .@{app-prefix}-modal-title {
    display: none;
  }
  .modal-content {
    padding: 24px !important;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid @border-2;
    color: @font-13;
  }
  .btn-wrap {
    display: flex;
    background-color: white;
    width: 100%;
    border-top: 1px solid @border-2;
    padding: 16px;
    gap: 16px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    button {
      border-radius: 24px;
    }
  }
}
