@import '../../assets/theme/color.less';

.my-frame {
  .@{app-prefix}-header {
    background-color: @bg-13;
  }
  .back-header-wrapper {
    border-bottom: 1px solid @border-2;
    background-color: @bg-13;

    .@{app-prefix}-btn-default {
      width: 72px;
      height: 32px;
      border-radius: 24px;
    }
  }
  .menu-list {
    flex: 1;
    .custom-svg {
      width: 20px;
      height: 20px;
    }
  }
}
