name: Extension Build

on:
  push:
    branches: [ "ci/extension-build" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Build
        run: |
          yarn
          yarn extension:ca pro
          zip -r public.zip ./packages/web-extension-ca/app/public
